@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* Пианино */  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/* Стиль для универсального контейнера */
.div-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Пианино */

.header {
    position: relative;
    margin: 30px 0;
}

.header:after {
    content: '';
    width: 460px;
    height: 15px;
    display: inline-block;
    text-align: center;
    background-size: 70%;
}

.title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.subtitle {
    color: #fff;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 30px 0;
}

.nowplaying {
    font-size: 120px;
    line-height: 1;
    color: #eee;
    text-shadow: 0 0 5rem #028ae9;
    transition: all .07s ease;
    min-height: 120px;
}

.keys {
    display: block;
    width: 100%;
    height: 350px;
    max-width: 880px;
    position: relative;
    margin: 40px auto 0;
    cursor: none;
}

.key {
    position: relative;
    border: 4px solid black;
    border-radius: .5rem;
    transition: all .07s ease;
    display: block;
    box-sizing: border-box;
    z-index: 2;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    z-index: 3;
}

.key[data-key="87"] {
    left: 7%;
}

.key[data-key="69"] {
    left: 17%;
}

.key[data-key="84"]  {
    left: 37%;
}

.key[data-key="89"] {
    left: 47%;
}

.key[data-key="85"] {
    left: 57%;
}

.key[data-key="79"] {
    left: 77%;
}

.key[data-key="80"] {
    left: 87%;
}

.playing {
    transform: scale(.95);
    border-color: #028ae9;
    box-shadow: 0 0 1rem #028ae9;
}

.hints {
    display: block;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 7px;
    transition: opacity .3s ease-out;
    font-size: 20px;
}

.keys:hover .hints {
    opacity: 1;
}


/* Quote module */

.quote-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100px;
    right: 20px;
    padding: 10px 10px;
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    transform: scale(0.2, 0.2);
    animation-name: orderlinks;
    animation-duration: 7s;
    animation-fill-mode: forwards;

}

.quote-text {
    margin-bottom: 20px;
}

.img-author {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes orderlinks {
    10% {
        top: 20px;
        transform: scale(1, 1);
    }
    80% {
        top: 20px;
        transform: scale(1, 1);
    }
    100% {
        top: -300px;
        transform: scale(0.2, 0.2);
    }
}

/* shape module start*/

.circle, .oval {
    position: absolute;
    border-radius: 50%;
    animation: show 1.5s;
}

.square, .rectangle {
    position: absolute;
    font-size: 0;
    animation: show 1.5s;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    animation: show 1.5s;
}

.parallelogram {
    position:absolute;
    animation: show 1s;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);

}

.trapezoid {
    position: absolute;
    height: 0;
    font-size: 0;
    animation: show 1.5s;
}

@keyframes show {
    from {opacity: 0; transform: translateX(-1000px)} to {opacity: 1; transform: translateX(0)}
}
/* shape module end*/

/* Game Hulk module start*/
td {
    border: 1px solid #aaa;
    width: 40px;
    height: 40px;
}
.point {
    background-image: url(https://avatars.mds.yandex.net/get-zen-logos/1540393/pub_5b1545b50422b4ec7b2bddb1_5f6b6993108c12349d0a2c48/xxh);
    background-size: 100%;
}
.box {
    background-image: url(https://st2.depositphotos.com/1006187/7519/i/950/depositphotos_75194639-stock-photo-close-up-of-wooden-box.jpg);
    background-size: 100%;
}
.user {
    background-image: url(https://pngimg.com/uploads/hulk/hulk_PNG65.png);
    background-size: 100%;
}
.wall {
    background-image: url(https://otdelkaexp.ru/wp-content/uploads/2018/11/kalkulyator-raschjota-penoblokov-dlya-stroitelstva-doma2.jpg);
    background-size: 100%;
}
table {
    margin: 40px auto;
}
.signUnderTable {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}
.active {
    border: 2px solid black;
}
/* Game Hulk module end*/

/* Reversetimer module start*/
.reverse-container {
    width: 500px;
    height: 300px;
    margin: 250px auto 0 auto;
    border: black solid 3px;
    text-align: center;
    background-color: #c9c8c8;
    border-radius: 20px;
}

.image-container {
    position: absolute;
    width: 170px;
    height: 80px;
    margin: 50px 0 0 -220px;
    border-radius: 40px;

}

.input-numbersTimer {
    position: absolute;
    border-radius: 10px;
    margin: 55px 0 0 -10px;
    width: 150px;
    height: 75px;
    text-align: center;
    font-size: 30px;
    background-color: #ffffad;

}

.span-second {
    position: absolute;
    margin: 75px 0 0 165px;
    font-size: 38px;
}

.span-left {
    position: absolute;
    margin: 190px 0 0 -220px;
    font-size: 38px;
}

.span-meaning {
    position: absolute;
    margin: 190px 0 0 50px;
    font-size: 38px;
    color: crimson;

}

.span-leftSecond {
    position: absolute;
    margin: 190px 0 0 165px;
    font-size: 38px;
}

* Memory Game */
.info{
    margin: 25px 0px;
    font-size: 25px;
}


.title-game {
    text-align: center;
    line-height: 1.4;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.hide {
    opacity: 0;
}

.primary {
    color: #16d9e3;
    text-align: center;
}

.record {
    color: #cedb56;
}

.board {
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    position: relative;
    height: 700px;
    width: 700px;
    background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

.board.finish {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    grid-gap: 5px;
    height: 75vh;
    width: 500px;
    background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    margin: 5px;
}

.pictur {
    background: url(../assets/imgMemoryGame/result.jpg) center / 100% no-repeat;
    position: relative;
    cursor: pointer;
    border: 2px solid #76cdd8;
    border-radius: 100px;
    padding: 5px;
    transition: 1s;
}


.hover {
    pointer-events: none;
    transition: transform 0.5s;
    transform: rotateY(360deg);
}

.end {
    pointer-events: none;
}

.card {
    position: relative;
    perspective: 1000px;
    border: 1px solid #fff;
}

/* Memory Game and */